 /*
 SKETCHING 
nav {
    background-color: #c0c0c0;
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
      }

body {
    background-color: #A2B9B4;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
        font-style: normal;
          
}

nav:hover {
    background-color: #FFD700; /* Color when hovering */
}
