/*fonts*/ 
.nunito-sans{
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  /*nav*/ 
nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100vw;
    text-transform: uppercase;
    padding: 2rem; 
    font-weight: 200;
    z-index: 1000;

}

nav {
    /* overflow: hidden; */
    background-color:white;
    color: black;
    font-size: 2em;
    height: 100px;
    padding:0px;
    text-transform: none;
    font-family: "Mohave", sans-serif;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-top: black solid 2px;
    border-bottom: none; 
    position: absolute;
    }

nav a {
    float: left;
    font-size: 2em;
}

.dropdown {
    float: left;
    padding: 10px;
    /* overflow: hidden; */
}

.dropdown-content {
display: none;
position: fixed;
z-index: 100;
background-color: white;
border: black solid 2px;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: 20px;
}


.dropdown-content a:hover {
  color: blue;
  font-family: "Pinyon Script", serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-button {
    padding: 0px 20px;
}

.nav-button:hover {
    color: blue; 
    background-color: #A2C9E2;
}

.dropdown .nav-button {
    margin: 0;
    font-size: 2em;
}

header {
    margin-top: 5rem; /* Adjusted to account for nav */
}  

h1 {
    font-size: 6em;
    padding-top: 0.02em;
    padding-left: 0.08em;
    font-weight: 800; 
    overflow-x: hidden;
    font-family: "Righteous", sans-serif;
    color: black;
    }
  
    .info {
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center;  
    align-items: center; 
    border: solid 3px black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.author, .date {
    justify-content: center;  
    align-items: center;     
    text-align: center;      
    padding: 10px; 
    width: 100%; 
}

.author {
    border-bottom: solid black 3px;  
    }
    

    h2 {
    color: rgb(11, 86, 192); ;
    font-size: 3em;
    margin-left: 0.2em;
    margin-top:0.05em;
}

h3 {
    font-size: 3.5em;
    color: white; 
    font-family: "Pinyon Script", serif;
}

h4 {
    color: rgb(11, 86, 192); ;
    font-size: 2em;
    margin-left: 0.2em;
    margin-top:0.05em;
}
p {
    font-size: 2.5em;
    font-family: "Nunito Sans", serif;
    margin-left: 0.4em;
    margin-top: 0.04em;
    margin-bottom: 1em;
}

blockquote {
    font-size: 2.5em;
    font-family: "Mohave", sans-serif;
    padding-left: 0.04em;
    padding-top: 0;
}
.custom-br {
    display: block;      
    width: 100%;          /* Full-width line */
    height: 3px;          /* Thickness of the line */
    background-color: black; /* Line color */
    margin: 10px 0;       /* Optional: Adds space above and below the line */
  }
  

.sticky-textD {
    color: black;
    font-family: "Righteous", sans-serif;
}

.sticky-textL {
    color: white;
    font-family: "Righteous", sans-serif;
}

  .sticky-chapter {
    border: 2px solid black;
    position: sticky;
    top:0;
    padding: 1%;
}

.sticky-chapter1 {
    border: 2px solid black;
    position: sticky;
    top:0.1;
    padding: 1%;
}


.sticky-chapter2 {
    border: 2px solid black;
    position: sticky;
    top:0.2;
    padding: 1%;
}

.sticky-chapter3 {
    border: 2px solid black;
    position: sticky;
    top:0.3;
    padding: 1%;
}

.sticky-chapter4 {
    border: 2px solid black;
    position: sticky;
    top:0.4;
    padding: 1%;
}

.sticky-chapter5 {
    border: 2px solid black;
    position: sticky;
    top:0.5;
    padding: 1%;
}

.content {
    font-family: "Nunito Sans", serif;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.cards {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.card, .card2, .card3{
    border: 1px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    width: 500px; 
    height: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    /* margin-left: 10%;
    margin-right: 10%; */

    padding-bottom: 20px;
    padding-top: 20px;
}

.card {
    background-color: #199be1;
}

.card2 {
    background-color: #c63e3e;
}

.card3 {
    background-color: #e6ea1f;
}


#back-to-top {
    height: fit-content;
    width: fit-content;
    bottom: 20px; 
    right: 20px;
    color: black; 
    border-radius: 5px; 
    padding: 20px 25px;
    
    font-size: 40px;  
    
    font-family: "Nunito Sans", serif;

    position: fixed; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.shapes {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
    gap: 100px;
}

.highlight {
    color: black; 
    font-size: 1em;
    font-family: "Nunito Sans", serif;
}

footer {
    text-align: center;
}

.custom-br {
    margin-bottom: 1em;
    margin-bottom: 1em;
}

@media only screen and (min-width:1200px) {

    .halfpage p, .halfpage h4, .halfpage h2{
        margin-left: 12rem;
        margin-right: 12rem;
        text-align: left;
    }

    p {
        font-size: 1.5em;
    }


    blockquote {
        font-size: 2em;
        line-height: 1.2em;
    }

    .sticky-chapter {
      height: 100%;
      width: 50%;
      box-sizing: border-box;
    }
    
    .sticky-chapter1 {
        height: 100%;
        width: 50%;
      }
      
    .sticky-chapter2 {
        height: 100%;
        width: 50%;
      }
      
    .sticky-chapter3 {
        height: 100%;
        width: 50%;
      }
      
      .sticky-chapter4 {
        height: 100%;
        width: 50%;
      }

      .sticky-chapter5 {
        height: 100%;
        width: 50%;
      }

    .content{
        width:50%;
        margin-left: 50%;
    }


    nav { 
      font-size: 28px; }

    .shapes {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding-top: 20px;
        gap: 100px;
    }
        
    .shapes {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .grid {
      display: hide;
    }

.info {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: center;  
        align-items: center; 
        border: solid 3px black;
        margin-top: 4%;
        margin-bottom: 4%;

    }
    
 .author {
        border-right: solid black 3px;  
        border-bottom: 0px;
    }

    #back-to-top {
        font-size: 25px;  
        padding: 10px 15px;
    }
        
}


