
.nunito-sans{
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    color: black;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2rem; 
    font-weight: 200;
    font-size: 2.5em;
    z-index: 1000;
}

nav {
    /* overflow: hidden; */
    background-color:white;
    color: black;
    font-size: 2em;
    height: 100px;
    padding:0px;
    text-transform: none;
    font-family: "Mohave", sans-serif;
    border: black solid 2px;
    position: absolute;
      }

nav a {
    float: left;
    font-size: 2em;
}

.dropdown {
    float: left;
    padding: 10px;
    /* overflow: hidden; */
}

.dropdown-content {
display: none;
position: fixed;
z-index: 100;
background-color: white;
border: black solid 2px;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: 20px;
}


.dropdown-content a:hover {
  color: blue;
  font-family: "Pinyon Script", serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-button {
    padding: 0px 20px;
}

.nav-button:hover {
    color: blue; 
    background-color: #A2C9E2;
}

.dropdown .nav-button {
    margin: 0;
    font-size: 2em;
}

header {
    margin-top: 5rem; /* Adjusted to account for nav */
}  

h1 {
    font-size: 8em;
    padding-top: 2%;
    padding-left: 2%;
    font-weight: 800; 
    overflow-x: hidden;
    font-family: "Righteous", sans-serif;
    color: black;
    }
  

    .info {
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center;  
    align-items: center; 
    border: solid 3px black;
    margin-top: 4%;
    margin-bottom: 4%;
}

.author, .date {
     
    justify-content: center;  
    align-items: center;     
    text-align: center;      
    padding: 10px; 
    width: 100%; 
}

.author {
    border-bottom: solid black 3px;  
       justify-content: center;  
        align-items: center;     
        text-align: center;      
        padding: 10px; 
        width: 100%; 
    }
    
  

   
    h2 {
    color: rgb(11, 86, 192); ;
    font-size: 3em;
    padding-left: 4%em;
    padding-top: 4%em;
}

h3 {
    font-size: 3.5em;
    color: white; 
    font-family: "Pinyon Script", serif;
}

p {
    font-size: 2.2em;
    font-family: "Nunito Sans", serif;
    padding: 2%;
}

blockquote {
    font-size: 3em;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: "Mohave", sans-serif;
}

.custom-br {
    display: block;      
    width: 100%;          /* Full-width line */
    height: 2px;          /* Thickness of the line */
    background-color: black; /* Line color */
    margin: 10px 0;       /* Optional: Adds space above and below the line */
  }
  

.sticky-textD {
    color: black;
    font-family: "Righteous", sans-serif;
}

.sticky-textL {
    color: white;
    font-family: "Righteous", sans-serif;
}

  .sticky-chapter {
    border: 2px solid black;
    position: sticky;
    top:0;
    padding: 1%;
}

.sticky-chapter1 {
    border: 2px solid black;
    position: sticky;
    top:1;
    padding: 1%;
}


.sticky-chapter2 {
    border: 2px solid black;
    position: sticky;
    top:2;
    padding: 1%;
}

.sticky-chapter3 {
    border: 2px solid black;
    position: sticky;
    top:3;
    padding: 1%;
}

.sticky-chapter4 {
    border: 2px solid black;
    position: sticky;
    top:4;
    padding: 1%;
}

.sticky-chapter5 {
    border: 2px solid black;
    position: sticky;
    top:5;
    padding: 1%;
}

.cards {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}



#back-to-top {
    height: 40px;
    width: 100px;
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    color: black; 
    border-radius: 5px; 
    padding: 10px 15px;
    font-size: 14px;  
    z-index: 1000;
    font-family: "Nunito Sans", serif;
}

#back-to-top {
    background-color: rgb(0, 0, 0);
    color: white; 
    height: 100px;
    width: 300px;
    font-size: 40px;
}

.shapes {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
    gap: 100px;
}

.sha

@media (min-width:1000px) {

    p {
        font-size: 1.5em;
        font-family: "Nunito Sans", serif;
        padding: 2%;
    }

    nav { 
      font-size: 28px; }

    h2 {
        font-size: 35px;
        padding: 2em; }

    .shapes {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding-top: 20px;
        gap: 100px;
    }
    
        
    .shapes {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .cards {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding-top: 20px;
        gap: 100px;
    }

    .grid {
      display: hide;
    }
    
    .info {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: center;  
        align-items: center; 
        border: solid 3px black;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .author, .date { 
        justify-content: center;  
        align-items: center;     
        text-align: center;      
        padding: 10px; 
        width: 100%; 
    }
    
    .author {
        border-right: solid black 3px;  
         
        }
        
}

