body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    color: black;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2rem; 
    font-weight: 200;
    font-size: 2.5em;
    z-index: 1000;
}

.dropdown .nav-button {
    margin: 0;
    font-size: 2em;
}

header {
    margin-top: 5rem; /* Adjusted to account for nav */
}

h1 {
    font-size: 8.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 800; 
    overflow-x: hidden;
    font-family: "Mohave", sans-serif;
}

h2 {
    font-size: 3em;
    padding-left: 2%;
}

h3 {
    font-size: 3em;
    color: white; 
    font-family: "Pinyon Script", serif;
}

p {
    font-size: 2em;
}

.custom-br {
    display: block;      
    width: 100%;          /* Full-width line */
    height: 2px;          /* Thickness of the line */
    background-color: black; /* Line color */
    margin: 10px 0;       /* Optional: Adds space above and below the line */
  }
  
.shapes {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.cards {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}



#back-to-top {
    height: 40px;
    width: 100px;
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    color: black; 
    border-radius: 5px; 
    padding: 10px 15px;
    font-size: 14px;  
    z-index: 1000;
    font-family: "Mohave", sans-serif;
}


@media (min-width:1200px) {
    nav { 
      font-size: 28px;
    }

    h2 {
        font-size: 35px;
        padding: 1em; }

    .shapes {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding-top: 20px;
        gap: 100px;
    }
        
    .cards {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding-top: 20px;
        gap: 100px;
    }

    #back-to-top {
       display: none;
    }

    .grid {
      display: hide;
    }
}

