 /*
 SKETCHING 
nav {
    background-color: #50C878;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
      }

body {
    background-color: #D8C8B8;
    font-family: "Gloria Hallelujah", cursive;
     
}

nav:hover {
    background-color: #6A0DAD; /* Color when hovering */
}