
nav {
    /* overflow: hidden; */
    background-color:rgb(245, 139, 139);
    color: black;
    font-size: 20px;
    height: 50px;
    padding:0px;
    text-transform: none;
    font-family: "Nunito Sans", serif;
    border: black solid 2px;
      }

nav a {
    float: left;
}

.dropdown {
    float: left;
    padding: 10px;
    /* overflow: hidden; */
}

.dropdown .nav-button {
    margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
z-index: 100;
background-color: white;
border: black solid 2px;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: 20px;
}


.dropdown-content a:hover {
  color: blue;
  font-family: "Pinyon Script", serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-button {
    padding: 0px 20px;
}

.nav-button:hover {
    color: blue; 
    background-color: #A2C9E2;
}

h1 {
   font-family: "Mohave", sans-serif;
    color: black;
    
}


h2 {
    color: black;
}

body {
    background-color: white;
    font-family: mohave;
    color: black;
}

.expand span:hover {
    font-size: 32px;
    transition: 0.3s;
    letter-spacing: 10px;
    font-family: "Monoton", serif;
    color: blue;
}

.shape1 {
    height: 200px;
    width: 200px;
    transform: translateX(-50%) translateY(-50%); 
    background-color: rgb(245, 139, 139);
    animation-play-state: running; /* Ensures the animation starts running by default */
    border: solid 2px white;
    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    font-size: 30px;
    margin-bottom: 20px;
}

.shape1:hover {
    animation-play-state: 3s; 
    font-family: "Pinyon Script", serif;
    font-size: 30;
}

.shape2 {
    height: 200px;
    width: 200px;
 transform: translateX(-50%) translateY(-50%); 
 background-color: rgb(245, 139, 139);   
    border: solid 2px white;    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
}
.shape3 {
    height: 200px;
    width: 200px;
    transform: translateX(-50%) translateY(-50%); 
    background-color: rgb(245, 139, 139);   
    border: solid 2px white;    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
}


/* Keyframes for animation */
@keyframes record {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width:900px) {
    nav { 
      font-size: 28px;
    }
}

