
nav {
    /* overflow: hidden; */
    background-color: #606c5a;
    font-family: 'Sansation Light', sans-serif;
    color: #f3f0e8;
    font-size: 20px;
    height: 50px;
    padding:0px;
    text-transform: none;
      }

nav a {
    float: left;
}

.dropdown {
    float: left;
    padding: 10px;
    /* overflow: hidden; */
}

.dropdown .nav-button {
    margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
z-index: 100;
background-color:  #606c5a;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: 20px;
}


.dropdown-content a:hover {
  color: #c09e85;
  font-family: "Pinyon Script";

}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-button {
    padding: 0px 20px;
}

.nav-button:hover {
    color: #c09e85;; 
    background-color:  #606c5a;
}

h1 {
    font-family: "Gothic A1", sans-serif;
}


h2 {
    color: #aa8819;
}

body {
    background-color: #f3f0e8;
    font-family: 'Sansation Light', sans-serif;
    color: black;
}

.expand span:hover {
    transition: 0.3s;
    letter-spacing: 10px;
    font-family: "Pinyon Script";
    color: #c09e85;
}


@media (min-width:900px) {
    nav { 
      font-size: 28px;
    }
}
