
h2 {
    padding-left: 2%;
}
nav {
    /* overflow: hidden; */
    background-color:white;
    color: black;
    font-size: 2em;
    height: 100px;
    padding:0px;
    text-transform: none;
    font-family: "Mohave", sans-serif;
    border: black solid 2px;

      }

nav a {
    float: left;
    font-size: 2em;
}

.dropdown {
    float: left;
    padding: 10px;
    /* overflow: hidden; */
}

.dropdown-content {
display: none;
position: absolute;
z-index: 100;
background-color: white;
border: black solid 2px;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: 20px;
}


.dropdown-content a:hover {
  color: blue;
  font-family: "Pinyon Script", serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-button {
    padding: 0px 20px;
}

.nav-button:hover {
    color: blue; 
    background-color: #A2C9E2;
}

/* GRID - ALL DESIGNS COMBINED */ 
  .grid .show-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(5, 1fr);  
    width: 100%;                          
    height: auto;                                                                 
    aspect-ratio: 2;  
    margin-top: 100px;  
                  
  }

  .grid div {
    border: rgb(6, 54, 131) 0.1em solid;             
    width: 100%;                          
    height: auto;                      
  }

  .show-grid div {
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: hidden; 


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5em;
    color: rgb(6, 49, 91);
    Font-family: arial;  
    align-items: center; 
}

/* CIRCLE SHAPE */ 
.show-grid div:nth-child(10n+1)::before, 
.show-grid div:nth-child(10n)::before  {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(11, 86, 192); 
}

/* FUNCTION DESIGN */ 
.show-grid div:nth-child(3)::after { content: 'A '; }
.show-grid div:nth-child(4)::after { content: 'R'; }
.show-grid div:nth-child(5)::after { content: 'T'; }
    

.show-grid div:nth-child(22)::after { content: 'F '; }
.show-grid div:nth-child(23)::after { content: 'U'; }
.show-grid div:nth-child(24)::after { content: 'N'; }
.show-grid div:nth-child(25)::after { content: 'C'; }
.show-grid div:nth-child(26)::after { content: 'T'; }
.show-grid div:nth-child(27)::after { content: 'I'; }
.show-grid div:nth-child(28)::after { content: 'O'; }
.show-grid div:nth-child(29)::after { content: 'N'; }


.show-grid div:nth-child(44)::after { content: 'D'; }
.show-grid div:nth-child(45)::after { content: 'E'; }
.show-grid div:nth-child(46)::after { content: 'S'; }
.show-grid div:nth-child(47)::after { content: 'I'; }
.show-grid div:nth-child(48)::after { content: 'G'; }
.show-grid div:nth-child(49)::after { content: 'N'; }

/* colour design*/ 
:root {
    --color-1: #e7f3f9; 
    --color-2: #d5ebf6;
    --color-3: #c2e6f9;
    --color-4: #b2e2fc;
    --color-5: #9cd7f6;
    --color-6: #8ad1f7;
    --color-7: #7acbf7;
    --color-8: #6cc7f8;
    --color-9: #59c0f8;
    --color-10: #3cb2f2;
}

.show-grid div:nth-child(1) { background-color: var(--color-1); }
.show-grid div:nth-child(11) { background-color: var(--color-1); }
.show-grid div:nth-child(21) { background-color: var(--color-1); }
.show-grid div:nth-child(31) { background-color: var(--color-1); }
.show-grid div:nth-child(41) { background-color: var(--color-1); }
.show-grid div:nth-child(51) { background-color: var(--color-1); }


.show-grid div:nth-child(2) { background-color: var(--color-2); }
.show-grid div:nth-child(12) { background-color: var(--color-2); }
.show-grid div:nth-child(22) { background-color: var(--color-2); }
.show-grid div:nth-child(32) { background-color: var(--color-2); }
.show-grid div:nth-child(42) { background-color: var(--color-2); }
.show-grid div:nth-child(52) { background-color: var(--color-2); }


.show-grid div:nth-child(3) { background-color: var(--color-3); }
.show-grid div:nth-child(13) { background-color: var(--color-3); }
.show-grid div:nth-child(23) { background-color: var(--color-3); }
.show-grid div:nth-child(33) { background-color: var(--color-3); }
.show-grid div:nth-child(43) { background-color: var(--color-3); }
.show-grid div:nth-child(53) { background-color: var(--color-3); }

.show-grid div:nth-child(4) { background-color: var(--color-4); }
.show-grid div:nth-child(14) { background-color: var(--color-4); }
.show-grid div:nth-child(24) { background-color: var(--color-4); }
.show-grid div:nth-child(34) { background-color: var(--color-4); }
.show-grid div:nth-child(44) { background-color: var(--color-4); }
.show-grid div:nth-child(54) { background-color: var(--color-4); }

.show-grid div:nth-child(5) { background-color: var(--color-5); }
.show-grid div:nth-child(15) { background-color: var(--color-5); }
.show-grid div:nth-child(25) { background-color: var(--color-5); }
.show-grid div:nth-child(35) { background-color: var(--color-5); }
.show-grid div:nth-child(45) { background-color: var(--color-5); }
.show-grid div:nth-child(55) { background-color: var(--color-5); }

.show-grid div:nth-child(6) { background-color: var(--color-6); }
.show-grid div:nth-child(16) { background-color: var(--color-6); }
.show-grid div:nth-child(26) { background-color: var(--color-6); }
.show-grid div:nth-child(36) { background-color: var(--color-6); }
.show-grid div:nth-child(46) { background-color: var(--color-6); }
.show-grid div:nth-child(56) { background-color: var(--color-6); }

.show-grid div:nth-child(7) { background-color: var(--color-7); }
.show-grid div:nth-child(17) { background-color: var(--color-7); }
.show-grid div:nth-child(27) { background-color: var(--color-7); }
.show-grid div:nth-child(37) { background-color: var(--color-7); }
.show-grid div:nth-child(47) { background-color: var(--color-7); }
.show-grid div:nth-child(57) { background-color: var(--color-7); }

.show-grid div:nth-child(8) { background-color: var(--color-8); }
.show-grid div:nth-child(18) { background-color: var(--color-8); }
.show-grid div:nth-child(28) { background-color: var(--color-8); }
.show-grid div:nth-child(38) { background-color: var(--color-8); }
.show-grid div:nth-child(48) { background-color: var(--color-8); }
.show-grid div:nth-child(58) { background-color: var(--color-8); }

.show-grid div:nth-child(9) { background-color: var(--color-9); }
.show-grid div:nth-child(19) { background-color: var(--color-9); }
.show-grid div:nth-child(29) { background-color: var(--color-9); }
.show-grid div:nth-child(39) { background-color: var(--color-9); }
.show-grid div:nth-child(49) { background-color: var(--color-9); }
.show-grid div:nth-child(59) { background-color: var(--color-9); }

.show-grid div:nth-child(10) { background-color: var(--color-10); }
.show-grid div:nth-child(20) { background-color: var(--color-10); }
.show-grid div:nth-child(30) { background-color: var(--color-10); }
.show-grid div:nth-child(40) { background-color: var(--color-10); }
.show-grid div:nth-child(50) { background-color: var(--color-10); }
.show-grid div:nth-child(60) { background-color: var(--color-10); }

.expand span:hover {
    font-size: 30px;
    transition: 0.3s;
    letter-spacing: 10px;
    font-family: "Monoton", serif;
    color: blue;
}


body {
    background-color: white;
    font-family: "Nunito Sans", serif;
    color: black;
    font-size: 1.1em;
}


.shape1 {
    height: 500px;
    width: 500px;
    transform: translateX(-50%) translateY(-50%); 
    background-image: conic-gradient( #d0e7f9, #8db8e0, #4a8bc8, #006bb3, #004d82, #00355a, #d0e7f9, #4a8bc8, #006bb3, #004d82 );
    animation: 3.0s linear infinite record;
    animation-play-state: running; 
    border: solid 2px white;
    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.shape1:hover {
    animation-play-state: paused; 
}

.shape2 {
    height: 500px;
    width: 500px;
 transform: translateX(-50%) translateY(-50%); 
 background-image: conic-gradient( #f9d0d0, #e78c8c, #c84a4a, #b30000, #820000, #5a0000, #f9d0d0, #c84a4a, #b30000, #820000 );
 animation: 3.0s linear infinite record;
    border: solid 2px white;   
     border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
    font-size: 30px;
}

.shape2:hover {
    animation-play-state: paused; /* Pauses the animation on hover */
}


.shape3 {
    height: 500px;
    width: 500px;
 transform: translateX(-50%) translateY(-50%); 
 background-image: conic-gradient( #f9f2d0, #e0d17f, #c8b24a, #b3a000, #828000, #5a5a00, #f9f2d0, #c8b24a, #b3a000, #828000 );
 animation: 3.0s linear infinite record;
    border: solid 2px white;    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
    font-size: 30px;
}

.shape3:hover {
    animation-play-state: paused; 
}

.card, .card2, .card3{
    border: 1px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 800px; 
    height: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;

    padding-bottom: 20px;
    padding-top: 20px;
}

.card {
    background-color: #3cb2f2;
}

.card2 {
    background-color: #bb3333;
}

.card3 {
    background-color: #e6ea1f;
}
  
/* Keyframes for animation */
@keyframes record {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width:1200px) {


} 