
.grid .color-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(5, 1fr);  
    width: 100%;                          
    height: auto;                                                                 
    aspect-ratio: 2;  
    margin-top: 100px;                    
  }

  .grid div {
    border:  var(--color-11) 0.3em solid; 
    width: 100%;                          
    height: auto;                         
  }

  .color-grid div {
    position: relative;
    background-color: white; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
/* Colour Grid design  */ 

:root {
    --color-1: #FFE4E9; 
    --color-2: #FFB3C1;
    --color-3: #fe738a;
    --color-4: #f76f86;
    --color-5: #f55c76;
    --color-6: #f25670;
    --color-7: #f53656;
    --color-8: #f11b3f;
    --color-9: #d6082b;
    --color-10: #b60825;
    --color-11:rgb(84, 4, 4); 
}

.color-grid div:nth-child(1) { background-color: var(--color-1); }
.color-grid div:nth-child(11) { background-color: var(--color-1); }
.color-grid div:nth-child(21) { background-color: var(--color-1); }
.color-grid div:nth-child(31) { background-color: var(--color-1); }
.color-grid div:nth-child(41) { background-color: var(--color-1); }
.color-grid div:nth-child(51) { background-color: var(--color-1); }


.color-grid div:nth-child(2) { background-color: var(--color-2); }
.color-grid div:nth-child(12) { background-color: var(--color-2); }
.color-grid div:nth-child(22) { background-color: var(--color-2); }
.color-grid div:nth-child(32) { background-color: var(--color-2); }
.color-grid div:nth-child(42) { background-color: var(--color-2); }
.color-grid div:nth-child(52) { background-color: var(--color-2); }


.color-grid div:nth-child(3) { background-color: var(--color-3); }
.color-grid div:nth-child(13) { background-color: var(--color-3); }
.color-grid div:nth-child(23) { background-color: var(--color-3); }
.color-grid div:nth-child(33) { background-color: var(--color-3); }
.color-grid div:nth-child(43) { background-color: var(--color-3); }
.color-grid div:nth-child(53) { background-color: var(--color-3); }

.color-grid div:nth-child(4) { background-color: var(--color-4); }
.color-grid div:nth-child(14) { background-color: var(--color-4); }
.color-grid div:nth-child(24) { background-color: var(--color-4); }
.color-grid div:nth-child(34) { background-color: var(--color-4); }
.color-grid div:nth-child(44) { background-color: var(--color-4); }
.color-grid div:nth-child(54) { background-color: var(--color-4); }

.color-grid div:nth-child(5) { background-color: var(--color-5); }
.color-grid div:nth-child(15) { background-color: var(--color-5); }
.color-grid div:nth-child(25) { background-color: var(--color-5); }
.color-grid div:nth-child(35) { background-color: var(--color-5); }
.color-grid div:nth-child(45) { background-color: var(--color-5); }
.color-grid div:nth-child(55) { background-color: var(--color-5); }

.color-grid div:nth-child(6) { background-color: var(--color-6); }
.color-grid div:nth-child(16) { background-color: var(--color-6); }
.color-grid div:nth-child(26) { background-color: var(--color-6); }
.color-grid div:nth-child(36) { background-color: var(--color-6); }
.color-grid div:nth-child(46) { background-color: var(--color-6); }
.color-grid div:nth-child(56) { background-color: var(--color-6); }

.color-grid div:nth-child(7) { background-color: var(--color-7); }
.color-grid div:nth-child(17) { background-color: var(--color-7); }
.color-grid div:nth-child(27) { background-color: var(--color-7); }
.color-grid div:nth-child(37) { background-color: var(--color-7); }
.color-grid div:nth-child(47) { background-color: var(--color-7); }
.color-grid div:nth-child(57) { background-color: var(--color-7); }

.color-grid div:nth-child(8) { background-color: var(--color-8); }
.color-grid div:nth-child(18) { background-color: var(--color-8); }
.color-grid div:nth-child(28) { background-color: var(--color-8); }
.color-grid div:nth-child(38) { background-color: var(--color-8); }
.color-grid div:nth-child(48) { background-color: var(--color-8); }
.color-grid div:nth-child(58) { background-color: var(--color-8); }

.color-grid div:nth-child(9) { background-color: var(--color-9); }
.color-grid div:nth-child(19) { background-color: var(--color-9); }
.color-grid div:nth-child(29) { background-color: var(--color-9); }
.color-grid div:nth-child(39) { background-color: var(--color-9); }
.color-grid div:nth-child(49) { background-color: var(--color-9); }
.color-grid div:nth-child(59) { background-color: var(--color-9); }

.color-grid div:nth-child(10) { background-color: var(--color-10); }
.color-grid div:nth-child(20) { background-color: var(--color-10); }
.color-grid div:nth-child(30) { background-color: var(--color-10); }
.color-grid div:nth-child(40) { background-color: var(--color-10); }
.color-grid div:nth-child(50) { background-color: var(--color-10); }
.color-grid div:nth-child(60) { background-color: var(--color-10); }



.sticky-chapter {
    background-color: var(--color-1);
}

.sticky-chapter1 {
    background-color: var(--color-2);
}

.sticky-chapter2 {
    background-color: var(--color-3);
}

.sticky-chapter3 {
    background-color: var(--color-4);
}

.sticky-chapter4 {
    background-color: var(--color-5);
}

.sticky-chapter5 {
    background-color: var(--color-6);
}

.card { 
    color: white;
    border: 1px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 800px; 
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

 .cards {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 

.card {
    background-color: var(--color-5);
}

.card2 {
    background-color: var(--color-4);
}
.card2:hover {
    background-color: var(--color-3);
    color: white;
}

.card3 {
   background-color: var(--color-2); 
   color: white;
}

.red {
    color: rgb(217, 92, 92);
    font-weight: bold;
}

.orange {
    color: rgb(255, 166, 0);
    font-weight: bold;
}

.yellow {
    color: rgb(232, 235, 6);
    font-weight: bold;
    
}

.green {
    color: rgb(82, 215, 82);
    font-weight: bold;
}

.blue {
    color: rgb(143, 175, 241);
    font-weight: bold;
}

.purple {
    color: rgb(218, 143, 241);
    font-weight: bold;
}

#back-to-top {
    background-color: var(--color-6);
    color: white; 
}

@media only screen and (min-width:1200px) {

    :root {
        --color-1: #FFF9E4; 
        --color-2: #FFEAB3;
        --color-3: #f7d673;
        --color-4: #FFD76F;
        --color-5: #FFCC5C;
        --color-6: #FFC756;
        --color-7: #FFB536;
        --color-8: #FFA71B;
        --color-9: #da8e14;
        --color-10: #c57c06;    
        --color-11:#865505;
    }

    .grid div {
        border:  var(--color-11) 0.3em solid;                          
      }
    
    .card {
    color: black; 
    }
    
    .card2 {
    color: black;
    }
    .card2:hover {
        color:black; 
    }
    
    .card3 {
    color: black;
    }
} 