
h1 {
    font-size: 8em;
    padding-top: 2%;
    padding-left: 2%;
    font-weight: 800; 
    overflow-x: hidden;
    font-family: "Righteous", sans-serif;
    color: black;
    }
    
/* grid */
    .grid .function-grid{
        display: grid;
        grid-template-columns: repeat(10, 1fr); 
        grid-template-rows: repeat(5, 1fr);  
        width: 100%;                          
        height: auto;                                                                 
        aspect-ratio: 2;  
        margin-top: 100px;                    
      }
    
      .grid div {
        border: rgb(188, 17, 17) 0.1em solid;             
        width: 100%;                          
        height: auto;                         
      }
    
      .function-grid div {
        width: 100%;
        height: 100%; 

        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 2.5em;
        background-color: #021d50;
        color: white;
        Font-family: arial;

}

/*crossword design
to fix - figure out if i do before or after*/ 
.function-grid div:nth-child(15)::after { content: 'D '; }
.function-grid div:nth-child(25)::after { content: 'O'; }
.function-grid div:nth-child(35)::after { content: 'N'; }
    

.function-grid div:nth-child(36)::after { content: 'O'; }
.function-grid div:nth-child(37)::after { content: 'R'; }
.function-grid div:nth-child(38)::after { content: 'M'; }
.function-grid div:nth-child(39)::after { content: 'A'; }
.function-grid div:nth-child(40)::after { content: 'N'; }


.sticky-chapter {
    background-color: rgb(188, 17, 17);
    color: white;
}

.sticky-chapter1 {
    background-color: black;
    color: white;
}


.sticky-chapter2 {
    background-color:rgb(188, 17, 17);
    color: white;
}

.sticky-chapter3 {
    background-color: black;
    color: white;
}

.sticky-chapter4 {
    background-color: rgb(188, 17, 17);
    color: white;
}

.sticky-chapter5 {
    background-color: black;
    color: white;
}
