/*fonts*/ 
.monoton-regular {
    font-weight: 400;
    font-style: normal;
  }

   /*grid*/ 

  .grid .art-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(5, 1fr);  
    width: 100%;                          
    height: auto;                                                                 
    aspect-ratio: 2;  
    margin-top: 100px;                    
  }

  .grid div {
    border: black 0.3em solid;             
    width: 100%;                          
    height: auto;                         
  }

  .art-grid div {
    position: relative;
    background-color: yellow; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

/* CIRCLE SHAPE */ 
.art-grid div:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; 

    background-color: red; 
}

/* TRIANGLE SHAPE */ 
.art-grid div:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-bottom: 40px solid blue; 
    border-left: 25px solid transparent ;
    border-right: 25px solid transparent;
}


.sticky-chapter {
    background-color: blue;
    
}

.sticky-chapter1 {
    background-color: yellow;
   
}


.sticky-chapter2 {
    background-color: red;
    
}

.sticky-chapter3 {
    background-color: blue;

}

.sticky-chapter4 {
    background-color: yellow;

}

.sticky-chapter5 {
    background-color: red;

}

p {
    font-size: 2em;
    padding-left: 2%;
    font-family: "Nunito Sans", serif;
}

.expand span:hover {
    font-size: 30px;
    transition: 0.3s;
    letter-spacing: 10px;
    font-family: "Monoton", serif;
    color: blue;
}

.shape1 {
    height: 500px;
    width: 500px;
    transform: translateX(-50%) translateY(-50%); 
    background-image: conic-gradient(rgb(236, 135, 240), rgb(242, 170, 216), rgb(182, 75, 240), rgb(195, 46, 228), rgb(241, 177, 247));
    animation: 3.0s linear infinite record;
    animation-play-state: running; /* Ensures the animation starts running by default */
    border: solid 2px white;
    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.shape1:hover {
    animation-play-state: paused; /* Pauses the animation on hover */
    font-family: "Pinyon Script", serif;
    font-size: 40px;
}

.shape2 {
    height: 500px;
    width: 500px;
 transform: translateX(-50%) translateY(-50%); 
    background-image:conic-gradient(rgb(112, 201, 239),rgb(56, 111, 238),rgb(7, 34, 155), rgb(142, 156, 247), rgb(144, 133, 244));
    animation: 3.0s linear infinite record;
    border: solid 2px white;    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
    font-size: 30px;
}

.shape2:hover {
    animation-play-state: paused; /* Pauses the animation on hover */
    font-family: "Pinyon Script", serif;
    font-size: 40px;
}


.shape3 {
    height: 500px;
    width: 500px;
 transform: translateX(-50%) translateY(-50%); 
    background-image:conic-gradient(rgb(249, 196, 121),rgb(254, 56, 56),rgb(250, 251, 155), rgb(228, 46, 98), rgb(248, 255, 173));
    animation: 3.0s linear infinite record;
    border: solid 2px white;    border-radius: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;   
    text-align: center;    
    color: black; 
    margin-bottom: 20px;
    font-size: 30px;
}

.shape3:hover {
    animation-play-state: paused; /* Pauses the animation on hover */
    font-family: "Pinyon Script", serif;
    font-size: 40px;
}


.card {
    background-color: rgb(150, 150, 236); 
    border: 1px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 800px; 
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    

}


#back-to-top {
    background-color: rgb(242, 159, 43);
    color: white; 
}
  
/* Keyframes for animation */
@keyframes record {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

